@page "/hamburguesas"

<div>
    <form action="#">
        <div class="container">
            <label>PAN</label>
            <br>
            <label> 
                <input @onclick="@(() => { string nombre = "lechuga"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "lechuga"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "tomate"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "tomate"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "huevo"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "huevo"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "bacon"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "bacon"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "cheddar"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "cheddar"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "tybo"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "tybo"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "jamon"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "jamon"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "cebolla"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "cebolla"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "mayonesa"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "mayonesa"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "ketchup"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "ketchup"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "mostaza"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "mostaza"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "sabora"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "sabora"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>
                <input @onclick="@(() => { string nombre = "carne"; Sumar(nombre); })" type="button" value="+"/>
                Lechuga
                <input @onclick="@(() => { string nombre = "carne"; Restar(nombre); })" type="button" value="-"/>
            </label>
            <br>
            <label>PAN</label>
            <br>
            <br>
            <br>
            <label>
                Cantidad
                <input @bind="Model.HamburguesaCant" type="number" min="1" max="5" />
            </label>
            <br>
        </div>
    </form>
    <button class="btn btn-primary" @onclick="CargarProductoCarro">Agregar al carrito</button>
    <button class="btn btn-primary" @onclick="VerCarrito">Ver carrito</button>
</div>
<div>
    <h2>Precio = @Model.Total.ToString("C")</h2>
</div>

@code {

    private class ProductoViewModel
    {
        int _lechugaCant;
        int _tomateCant;
        int _huevoCant;
        int _baconCant;
        int _cheddarCant;
        int _tyboCant;
        int _jamonCant;
        int _cebollaCant;
        int _mayonesaCant;
        int _ketchupCant;
        int _mostazaCant;
        int _saboraCant;
        int _carneCant;
        int _hamburguesasCant;

        public int LechugaCant
        {
            get
            {
                return _lechugaCant;
            }
            set
            {
                _lechugaCant = value;
                CalcularTotal();
            }
        }
        public int TomateCant 
        {
            get
            {
                return _tomateCant;
            }
            set
            {
                _tomateCant = value;
                CalcularTotal();
            }
        }
        public int HuevoCant
        {
            get
            {
                return _huevoCant;
            }
            set
            {
                _huevoCant = value;
                CalcularTotal();
            }
        }
        public int BaconCant
        {
            get
            {
                return _baconCant;
            }
            set
            {
                _baconCant = value;
                CalcularTotal();
            }
        }
        public int CheddarCant 
        {
            get
            {
                return _cheddarCant;
            }
            set
            {
                _cheddarCant = value;
                CalcularTotal();
            }
        }
        public int TyboCant
        {
            get
            {
                return _tyboCant;
            }
            set
            {
                _tyboCant = value;
                CalcularTotal();
            }
        }
        public int JamonCant
        {
            get
            {
                return _jamonCant;
            }
            set
            {
                _jamonCant = value;
                CalcularTotal();
            }
        }
        public int CebollaCant
        {
            get
            {
                return _cebollaCant;
            }
            set
            {
                _cebollaCant = value;
                CalcularTotal();
            }
        }
        public int MayonesaCant
        {
            get
            {
                return _mayonesaCant;
            }
            set
            {
                _mayonesaCant = value;
                CalcularTotal();
            }
        }
        public int KetchupCant 
        { 
            get
            {
                return _ketchupCant;
            }
            set
            {
                _ketchupCant = value;
                CalcularTotal();
            } 
        }
        public int MostazaCant 
        {
            get
            {
                return _mostazaCant;
            }
            set
            {
                _mostazaCant = value;
                CalcularTotal();
            }
        }
        public int SaboraCant 
        {
            get
            {
                return _saboraCant;
            }
            set
            {
                _saboraCant = value;
                CalcularTotal();
            }
        }
        public int CarneCant 
        {
            get
            {
                return _carneCant;
            }
            set
            {
                _carneCant = value;
                CalcularTotal();
            }
        }
        public int HamburguesaCant 
        {
            get
            {
                return _hamburguesasCant;
            }
            set
            {
                _hamburguesasCant = value;
                CalcularTotal();
            }
        }
        public int Total { get; set; }

        private async void CalcularTotal(string nombre)
        {
            using var db = new CompraContext();

            Total = 0;
            if ()
            Total = Total + ((await db.Adicionales.SingleAsync(a => a.AdicionalId == 5)).Precio * );
        }
    }

    private ProductoViewModel Model { get; set; } = new();

    private void Sumar(string nombre)
    {
        if (nombre == "lechuga")
            if(Model.LechugaCant < 3)
                Model.LechugaCant++;
        else if (nombre == "tomate")
            if(Model.TomateCant < 2)
                Model.TomateCant++;
        else if (nombre == "huevo")
            if(Model.HuevoCant < 2)
                Model.HuevoCant++;
        else if (nombre == "bacon")
            if(Model.BaconCant < 4)
                Model.BaconCant++;
        else if (nombre == "cheddar")
            if(Model.CheddarCant < 3)
                Model.CheddarCant++;
        else if (nombre == "tybo")
            if(Model.TyboCant < 3)
                Model.TyboCant++;
        else if (nombre == "jamon")
            if(Model.JamonCant < 3)
                Model.JamonCant++;
        else if (nombre == "cebolla")
            if(Model.CebollaCant < 4)
                Model.CebollaCant++;
        else if (nombre == "mayonesa")
            if(Model.MayonesaCant < 1)
                Model.MostazaCant++;
        else if (nombre == "ketchup")
            if(Model.KetchupCant < 1)
                Model.KetchupCant++;
        else if (nombre == "mostaza")
            if(Model.MostazaCant < 1)
                Model.MostazaCant++;
        else if (nombre == "sabora")
            if(Model.SaboraCant < 1)
                Model.SaboraCant++;
        else if (nombre == "carne")
            if(Model.CarneCant < 3)
                Model.CarneCant++;
        else if (nombre == "hamburguesa")
            if(Model.HamburguesaCant < 15)
                Model.HamburguesaCant++;
    }

    private void Restar(string nombre)
    {
        if (nombre == "lechuga")
            if(Model.LechugaCant != 0)
                Model.LechugaCant--;
        else if (nombre == "tomate")
            if(Model.TomateCant != 0)
                Model.TomateCant--;
        else if (nombre == "huevo")
            if(Model.HuevoCant != 0)
                Model.HuevoCant--;
        else if (nombre == "bacon")
            if(Model.BaconCant != 0)
                Model.BaconCant--;
        else if (nombre == "cheddar")
            if(Model.CheddarCant != 0)
                Model.CheddarCant--;
        else if (nombre == "tybo")
            if(Model.TyboCant != 0)
                Model.TyboCant--;
        else if (nombre == "jamon")
            if(Model.JamonCant != 0)
                Model.JamonCant--;
        else if (nombre == "cebolla")
            if(Model.CebollaCant != 0)
                Model.CebollaCant--;
        else if (nombre == "mayonesa")
            if(Model.MayonesaCant != 0)
                Model.MostazaCant--;
        else if (nombre == "ketchup")
            if(Model.KetchupCant != 0)
                Model.KetchupCant--;
        else if (nombre == "mostaza")
            if(Model.MostazaCant != 0)
                Model.MostazaCant--;
        else if (nombre == "sabora")
            if(Model.SaboraCant != 0)
                Model.SaboraCant--;
        else if (nombre == "carne")
            if(Model.CarneCant != 0)
                Model.CarneCant--;
        else if (nombre == "hamburguesa")
            if(Model.HamburguesaCant != 0)
                Model.HamburguesaCant--;
    }

    private void CargarProductoCarro()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos.Include(c => c.Productos).ThenInclude(p => p.Adicionales).Where(c => c.UsuarioId == 1).SingleOrDefault();

        if (carrito is not null)
        {
            CarritoProducto carritoProducto = new CarritoProducto()
                {
                    ProductoId = 1,
                    Cantidad = Model.HamburguesaCant,
                    Adicionales = new()
                };

            carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                {
                    //pan
                    AdicionalId = 3,
                    Cantidad = 2
                });

            if (Model.CarneCant != 0)
            {
                //carne
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 4,
                        Cantidad = Model.CarneCant
                    });
            }
            if (Model.LechugaCant != 0)
            {
                //lechuga
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 5,
                        Cantidad = Model.LechugaCant
                    });
            }
            if (Model.TomateCant != 0)
            {
                //tomate
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 6,
                        Cantidad = Model.TomateCant
                    });
            }
            if (Model.HuevoCant != 0)
            {
                //huevo
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 7,
                        Cantidad = Model.HuevoCant
                    });
            }
            if (Model.BaconCant != 0)
            {
                //bacon
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 8,
                        Cantidad = Model.BaconCant
                    });
            }
            if (Model.CheddarCant != 0)
            {
                //cheddar
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 9,
                        Cantidad = Model.CheddarCant
                    });
            }
            if (Model.TyboCant != 0)
            {
                //tybo
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 10,
                        Cantidad = Model.TyboCant
                    });
            }
            if (Model.JamonCant != 0)
            {
                //jamon
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 11,
                        Cantidad = Model.JamonCant
                    });
            }
            if (Model.CebollaCant != 0)
            {
                //cebolla
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 12,
                        Cantidad = Model.CebollaCant
                    });
            }
            if (Model.MayonesaCant != 0)
            {
                //mayonesa
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 13,
                        Cantidad = Model.MayonesaCant
                    });
            }
            if (Model.KetchupCant != 0)
            {
                //ketchup
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 14,
                        Cantidad = Model.KetchupCant
                    });
            }
            if (Model.MostazaCant != 0)
            {
                //mostaza
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 15,
                        Cantidad = Model.MostazaCant
                    });
            }
            if (Model.SaboraCant != 0)
            {
                carritoProducto.Adicionales.Add(new CarritoProductoAdicional()
                    {
                        AdicionalId = 16,
                        Cantidad = Model.SaboraCant
                    });
            }

            carrito.Productos.Add(carritoProducto);
            db.SaveChanges();
        }
        else
        {
            //anashe
        }
    }

    private void VerCarrito()
    {
        using var db = new CompraContext();

        Carrito carrito = db.Carritos
        .Include(c => c.Usuario)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos).ThenInclude(p => p.Adicionales)
        .Where(c => c.UsuarioId == 1).SingleOrDefault();
    }

    private void EscribirPrecio()
    {
        using var db = new CompraContext();

        int total = 0;

        var carritoProducto = db.CarritoProductos
        .Include(c => c.Adicionales)
        .ThenInclude(c => c.Adicional).ToList();

        var adicional = db.Adicionales.ToList();

        foreach (CarritoProducto c in carritoProducto)
        {
            foreach (CarritoProductoAdicional cpa in c.Adicionales)
            {
                total = total + (cpa.Adicional.Precio * cpa.Cantidad);
            }
        }
    }

}
