@page "/carrito"

<h3>Carrito</h3>

@if (carritos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Adicionales</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in carritos)
            {
                <tr>
                    <td>@c.Producto.Nombre</td>
                    <td>@c.Cantidad</td>
                    <td>@c.Producto.Precio</td>
                    <td>@foreach (var a in c.Adicionales)
                        {
                           <label> @a.Adicional.Nombre (@a.Cantidad), </label>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private class CarritoViewModel
    {
        public string Nombre { get; set; }
        public int Precio{ get; set; }
        public int Cantidad{ get; set; }


    }

    private CarritoViewModel Model { get; set; } = new();

    private CarritoProducto[]? carritos;

    protected override async Task OnInitializedAsync()
    {
        using var db = new CompraContext();

        carritos = db.CarritoProductos
        .Include(c => c.Producto)
        .Include(p => p.Adicionales)
        .ThenInclude(p => p.Adicional).ToArray();
    }

    private void VerCarrito()
    {
        using var db = new CompraContext();

        var carrito = db.Carritos
        .Include(c => c.Usuario)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .Include(c => c.Productos)
        .ThenInclude(p => p.Producto)
        .ThenInclude(p => p.Adicionales)
        .Include(c => c.Productos).ThenInclude(p => p.Adicionales)
        .Where(c => c.UsuarioId == 1).ToList();

        if (carrito is not null)
        {
            foreach (Carrito c in carrito)
            {
                foreach (CarritoProducto cp in c.Productos)
                {
                    Model.Cantidad = cp.Cantidad;
                    Model.Nombre = cp.Producto.Nombre;
                    Model.Precio = cp.Producto.Precio;
                }
            }
        }
        else
        {
            //anashe
        }
    }

    private void EscribirPrecio()
    {
        using var db = new CompraContext();

        int total = 0;

        var carritoProducto = db.CarritoProductos
        .Include(c => c.Adicionales)
        .ThenInclude(c => c.Adicional).ToList();

        var adicional = db.Adicionales.ToList();

        foreach (CarritoProducto c in carritoProducto)
        {
            foreach (CarritoProductoAdicional cpa in c.Adicionales)
            {
                total = total + (cpa.Adicional.Precio * cpa.Cantidad);
            }
        }
    }
}
